.rectangule-red {
    width: 100%;
    background-color: red;
    height: 110px;
    position: relative;
  }
  .rectangule-black {
    position: absolute;
    width: 100%;
    background-color: black;
    bottom: 0;
    height: 2em;
  }
  .img-pokedex {
    position: absolute;
    width: 15em;
    margin-left: 15px;
    bottom: 0;
    transform: translateY(-45%);
  }
  .circle {
    width: 3.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    border: 1em solid white;
    outline: 0.5em solid black;
    position: absolute;
    transform: translate(-45%);
    left: 85%;
    top: 65px;
    border-width: 10px;
    outline-width: 10px;
  }